name: CI -NLP Support
on:
    push:
        branches:
            -main
    pull_request:
        branches:
            -main
    
jobs:
    built-test:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/checkout@v5
              with:
                python-version: "3.11"

            - name: install dependecies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Lint with flake8
              run: |
                pip install flake8
                flake8 app --max-line-length=120 --ignore=E501,W291,W293,E302,E303,E265,E203,E231,E225,E251,E252,E261,E262,W391,W292,E226

            - name: run tests
              run: |
                pytest